@import (reference) '~antd/es/style/themes/index';

.box {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.btn {
  position: absolute;
  top: 60px;
  right: 80px;
}
.content {
  width: 80%;
  margin: 10px auto;
}
